<!-- <div class="card col-md-12 offset-md-12  mt-5 " >
  <section style="text-align: center;">
    <h2>IMPORTANT CONTACT NUMBERS</h2>
    <p>
      Ambulance	+45664546464
      <br>
      <br>
    Boardline	456484456454
    <br>
    <br>
    - Emergency/ Casualty	1415/ 16151
    <br>
    <br>
    - Admission Department	1515/ 116/ 6155
    <br>
    <br>
    - Appointment - OPD	1566/ 5156
    <br>
    <br>
    - Billing - Inpatient	16615
    <br>
    <br>
    - Billing - OPD	65616
    <br>
    <br>
    </p>
    <br>
    <h2>EMAIL ADDRESS</h2>
    <p>
    For grievances:	complaints@quinnoxhospital.com
    <br>
    For any other queries	info@quinnoxhospital.com
    </p>
  </section>


</div> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact US</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js">
<link href="https://fonts.googleapis.com/css?family=Rosario&display=swap" rel="stylesheet">
</head>
<body>
  <div class="card col-md-6 offset-md-12  mt-5"  >
    <div class="card-header">
      IMPORTANT CONTACT NUMBERS
    </div>
    <ul class="list-group list-group-flush">
      <br>
      <li class="list-group-item" ><i class="fas fa-ambulance"></i>
        &nbsp;+45664546464</li><br>
      <li class="list-group-item" ><i class="fas fa-tty"></i> &nbsp;	+456484456454</li><br>
      <li class="list-group-item"><i class="fas fa-first-aid"></i> &nbsp;	+1415/ 16151</li><br>
      <li class="list-group-item"><i class="fas fa-procedures"></i> &nbsp;	1515/ 116/ 6155</li><br>
      <li class="list-group-item"><i class="fas fa-stethoscope"></i> &nbsp;	1566/ 5156</li>
    </ul>
  </div>
  <footer>
    <p>Quinnox Healthcare, Copyright &copy; 2020</p>
  </footer>
</body>
</html>



<!-- <div class="card text-center">
  <div class="card-header">
    IMPORTANT CONTACT NUMBERS
  </div>
  <div class="card-body">

    <p class="card-text"> Ambulance:	+45664546464
      <br>
      <br>
    Boardline:	456484456454
    <br>
    <br>
    - Emergency/ Casualty:	1415/ 16151
    <br>
    <br>
    - Admission Department:	1515/ 116/ 6155
    <br>
    <br>
    - Appointment : OPD	1566/ 5156
    <br>
    <br>
    - Billing : Inpatient	16615
    <br>
    <br>
    - Billing : OPD	65616
    <br>
    <br>
    </p>

  </div>
  <div class="card-footer text-muted">
    For grievances:	complaints@quinnoxhospital.com
<br>
For any other queries	: info@quinnoxhospital.com
  </div>
</div> -->



