<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js">
<link href="https://fonts.googleapis.com/css?family=Rosario&display=swap" rel="stylesheet">

<title>Doctor Dashboard</title>

<h4 style="padding: 40px; color:black;">MyID: <span style="color: blueviolet;">#{{id.id}}</span></h4>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 ">

    </div>
    <div class="col-sm-9 col-md-10 main">
      <h1 class="page-header"><i class="fa fa-tachometer" aria-hidden="true"></i>
        Doctor Dashboard</h1>&nbsp;&nbsp;
      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder"> -->
<!-- <img src="../../assets/video1.jpg" class="img-responsive" width="200" height="200" alt="img"><br><br> -->
<!-- <li button  (click)="  manageappointments()" class="btn btn-secondary" style="margin-left: 10px"  ><i class="fas fa-user-plus"></i> Manage Appointments</li> -->

<!-- <a routerLink="#" (click)="manageappointments(id.id)" id="hyperlink"><a class="nav-link active"
              href="#"></a><i class="far fa-calendar-check"></i> Manage Appointments</a>&nbsp;&nbsp;

        </div> -->
<!-- <div class="col-xs-6 col-sm-3 placeholder"> -->
<!-- <img src="../../assets/video1.jpg" class="img-responsive" width="200" height="200" alt="img"><br><br> -->
<!-- <ul class="nav-item" style="margin-right: 2em;"><a class="nav-link active" routerLink="#"><i
                class="fas fa-users"></i> Manage Availbilty</a></ul>
        </div> -->

<!--
        <div>
          <h2 class="col-md-8 offset-2 mt-4" style="color: blueviolet;">My Appointments</h2>
          <div class="col-md-8 offset-2 mt-4 card card-body" style=" border-color:blueviolet; border-width:2px;">

              <div class="panel panel-primary">

                  <div class="panel-heading">
                  </div>
                  <div  class="panel-body" >

                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Appointment ID</th>
                          <th>My ID</th>
                          <th>My Name</th>

                          <th>Patient's ID</th>
                          <th>Patient's Name</th>
                          <th>Selected Date</th>
                          <th>Appointment Timing</th>
                          <th>Description </th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>#{{appointment.appointmentId}}</td>
       <td>{{appointment.doctorName}}</td>
                          <td>#{{appointment.doctorId}}</td>
                          <td>{{appointment.patientId}}</td>
                          <td>{{appointment.patient_first_name}}</td>
                          <td>{{appointment.date}}</td>
                          <td>{{appointment.time}}</td>
                          <td>{{appointment.description}}</td>
        <td><button style="width: 60px;" class="btn btn-outline-danger btn-rounded btn-block waves-effect "><img src="\assets\icons8-delete-bin-96.png" alt="img" width="25" height="25"
                              (click)="navigate1(patient.patient_id, patient.patient_name, patient.patient_mail, patient.patient_age, patient.patient_gender)"></button>
                          </td>
       </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>  -->


<!-- <table style="width:100%">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
          </tr>
          <tr>

          </tr>
        </table> -->


<!-- <div *ngFor="let appoint of appointments ">

          {{appoint.appointmentId}}

        </div>
        {{appointments[0]}} -->



<!-- <div class="col-xs-6 col-sm-3 placeholder">
          <img src="images/graph.png" class="img-responsive" width="200" height="200" alt="">
          <h4>Label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="images/graph.png" class="img-responsive" width="200" height="200" alt="">
          <h4>Label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div> -->



<!-- <footer class="bg-dark text-white mt-5 footer">
    <div class="container-fluid py-3">
      <div class="row">
        <div class="col-md-3">
          <h5>Quinnox HealthCare</h5>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-6">Mumbai<span class="small"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Doloribus, deserunt</span></div>
        <div class="col-md-3"></div>
        <div class="col-md-3 text-right small align-self-end">©2020 Quinnox Healthcare</div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script> -->
<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <table style="width:100%">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Age</th>
    </tr>
    <tr *ngFor="let item of appointments">
      <td>{{item.appointmentId}}</td>
      <td>{{item.doctorId}}</td>
      <td>{{item.doctorName}}</td>


    </tr>
  </table>

  <button type="button" (click)="manageappointments(id.id)"> Manage
    Appointments</button>&nbsp;&nbsp;
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js">
  <title>Document</title>
</head>


<body>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-9 col-md-10 main">
        <h1 class="page-header" style="text-align: center;"><i class="fa fa-tachometer" aria-hidden="true"></i>
          Doctor Dashboard</h1>
        <h4 style="padding: 40px; color:black;">MyID: <span style="color: blueviolet;">#{{id.id}}</span></h4>
        <div *ngIf="details!=null">

          <div class="col-md-10 offset-2 mt-4  card card-body"
            style=" border-color:rgb(109, 106, 111); border-width:2px;">
            <table class="table table-dark" style="width:100%">
              <tr>
                <th>Appointment Id </th>
                <th>Doctor Id</th>
                <th>Doctor Name</th>
                <th>Patient Name</th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
                <th></th>
              </tr>
              <tr *ngFor="let item of appointments">
                <td>{{item.appointmentId}}</td>
                <td>{{item.doctorId}}</td>
                <td>{{item.doctorName}}</td>
                <td>{{item.patientName}}</td>
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
                <!-- <td> <button type="button" class="btn btn-info">Update</button></td> -->
                <td> <button type="button" class="btn btn-danger"
                    (click)=" delete(item.appointmentId, item.doctorId, item.doctorName, item.doctorSpeciality, item.patientId, item.patientName, item.date, item.time)">
                    <i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div [hidden]="details!=null" class="row placeholders" style="margin-left: 300px;">
          <div class="col-xs-8 col-sm-6 placeholder">
            <img src=" ../../assets/search doctor.jpg" class="img-responsive" width="250" height="250" alt="img">
            <br>
            <a routerLink="#" (click)="manageappointments(id.id)" id="hyperlink"><a class="nav-link active"
                href="#"></a><i class="far fa-calendar-check"></i> Manage Appointments</a>&nbsp;&nbsp;
          </div>
          <div class="col-xs-8 col-sm-6 placeholder">
            <img src="../../assets/video1.jpg" class="img-responsive" width="250" height="250" alt="img"><br>
            <ul class="nav-item" style="margin-right: 2em;"><a class="nav-link active" routerLink="#"><i
                  class="fas fa-users"></i> Manage Avaibility</a></ul>


          </div>


        </div>
      </div>
    </div>
    <div *ngIf="message" style="color: brown;" class="modal-dialog modal-dialog-centered">
      You have No appointments!
    </div>


    <footer class="bg-dark text-white mt-5 footer" style="width: 100;">
      <div class="container-fluid py-3">
        <div class="row">
          <div class="col-md-3">
            <h5>Quinnox HealthCare</h5>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
        </div>
        <div class="row">
          <div class="col-md-6">Mumbai<span class="small"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloribus, deserunt</span></div>
          <div class="col-md-3"></div>
          <div class="col-md-3 text-right small align-self-end">©2020 Quinnox Healthcare</div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
