<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <section id="showcase">
    <div class="container">
      <h1>Quinnox Healthcare</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
        repellendus, quod minima perspiciatis, recusandae enim nulla
        consequuntur voluptatem quaerat ab porro, delectus cum mollitia
        accusamus!
      </p>
    </div>
  </section>

  <section id="boxes">
    <div class="container">
      <div class="box">
        <img src="../../assets/opd1.jpg" alt="image" />
        <h3><a href="#">OPD</a></h3>
      </div>
      <div class="box">
        <img src="../../assets/emergency1.jpg" alt="image" />
        <h3><a href="#">Emergency</a></h3>
      </div>
      <div class="box">
        <img src="../../assets/video1.jpg" alt="image" />
        <h3><a href="#">Video Consultation</a></h3>
      </div>
    </div>
  </section>
</body>
</html> -->

<div class="card col-md-12 offset-md-12 mt-2">

  <div class="card-header">
    <section id="showcase">
      <div class="container">
        <h1>Quinnox Healthcare</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis
          repellendus, quod minima perspiciatis, recusandae enim nulla
          consequuntur voluptatem quaerat ab porro, delectus cum mollitia
          accusamus!
        </p>
      </div>
    </section>
  </div>
  <div class="card-body">
    <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="../../assets/opd1.jpg" alt="image" />
          <h3><a href="#">OPD</a></h3>
        </div>
        <div class="box">
          <img src="../../assets/emergency1.jpg" alt="image" />
          <h3><a href="#">Emergency</a></h3>
        </div>
        <div class="box">
          <img src="../../assets/video1.jpg" alt="image" />
          <h3><a href="#">Video Consultation</a></h3>
        </div>
      </div>
    </section>
  </div>
</div>
<footer>
  <p>Quinnox Healthcare, Copyright &copy; 2020</p>
</footer>
